extends layout

block content
  h1 Andrew Naismith
  ul
    li I am 22 years old
    li I live in Barrie Ontario
    li I was born in Barrie Ontario
    li I enjoy using his PS4
    li I dislike vegtables
    li I am Chris's brother