extends layout

block content
  h1 Dean Naismith
  ul
    li I am 53 years old
    li I live in Barrie Ontario
    li I was born in Thornhill Ontario
    li I enjoy beer
    li I dislike everything that is not beer
    li I am Chris's father