extends layout

block content
  h1 Rebecca Naismith
  ul
    li I am 27 years old
    li I live in Stayner Ontario
    li I was born in Hanover Ontario
    li I enjoy pizza
    li I dislike doing report cards
    li I am Chris's wife